/Antragsbegleitblatt
/Bearbeitungsliste
/Fortfuehrungsbeleg
!antragsbegleitblatt_document.xml
!antragsbegleitblatt_flurstuecke.xml
!antragsbegleitblatt_row.xml
!Antragsbegleitblatt.zip
!Bearbeitungsliste.zip
!Fortfuehrungsbeleg.zip